body {
    display: flex;
    flex-direction: row;
}

aside {
    height: 100%;
    flex-basis: content;
    overflow-y: scroll;
}

.players {
    display: flex;
    flex-direction: row;
}

.player {
    border: 1px solid black;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.5rem;
}

.player-isk {
    display: list-item;
    margin-left : 1rem;
}

.player-isk::after {
    content: " ISK";
}

.player-influences {
    display: flex;
    flex-direction: row;
    grid-column-end: span 2;
}

.player-influence {
    display: inline-flex;
    border: 1px solid black;
    width: 6rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
}

.player-influence.player-influence-hidden {
    border-color: darkgreen;
    background-color: rgb(189, 211, 212);
    color: slateblue;
}

.player-influence.player-influence-revealed {
    border-color: lightgrey;
    color: lightslategrey;
}