body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    text-align: center;
    padding-top: 10%;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}


ul.buttons {
    display: flex;
    flex-direction: row;
    padding: 0;
}

@media (orientation: portrait) {
    ul.buttons {
        flex-direction: column;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }
}

ul.buttons>li {
    display: block;
    margin: 0.2rem;
}

ul.buttons button {
    margin: 0;
}

.turn-indicator {
    font-weight: 500;
    margin: 1rem;
}