body {
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    form {
        font-size: 2rem;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}