.isk::before {
    content: "";
    background-image: radial-gradient(
        circle 15px at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        ), radial-gradient(
        circle 15px at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        ), radial-gradient(
        circle 15px at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        ), radial-gradient(
        circle 15px at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        );
    background-position: left bottom, left bottom 20px, left bottom 40px, left bottom 60px;
    background-size: calc(80px / min(var(--number), 4)) 20px,
        calc(80px / max(0, min(var(--number) - 4, 4))) 20px,
        calc(80px / max(0, min(var(--number) - 8, 4))) 20px,
        calc(80px / max(0, min(var(--number) - 12, 4))) 20px;
    background-repeat: space no-repeat;
    width: 80px;
    display: inline-block;
    height: calc(20px * (1 + var(--number) / 4));
    margin-right: 1em;
}

.isk-difference {
    vertical-align: super;
    font-size: 0.5rem;
    display: inline-block;
    width: 0;
    overflow: visible;
    position: relative;
    bottom: 0.5rem;
}

.isk-increase {
    color: greenyellow;
}
.isk-increase::before {
    content: "+";
}

.isk-decrease {
    color: orangered;
}
.isk-decrease::before {
    content: "-";
}