.isk::before {
    content: "";
    background-image: radial-gradient(
        circle 0.75em at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        ), radial-gradient(
        circle 0.75em at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        ), radial-gradient(
        circle 0.75em at center,
        #eee 30%,
        #999999 55%,
        transparent 60%
        );
    background-position: left bottom, left bottom 1em, left bottom 2em;
    background-size: calc(4em / min(var(--number), 4)) 1em,
        calc(4em / max(0, min(var(--number) - 4, 4))) 1em,
        calc(4em / max(0, min(var(--number) - 8, 4))) 1em;
    background-repeat: space no-repeat;
    width: 4.1em;
    display: inline-block;
    height: calc(min(1.03em * (1 + var(--number) / 4), 3.1em));
    margin-right: 1em;
}

.isk {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}