body {
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog {
    font-size: 1.5rem;
}

input {
    display: block;
    margin-top: 1rem;
}

form {
    margin: 0;
}

@media (orientation: portrait) {
    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}