.player {
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.player.player-turn {
    box-shadow: 0 0 4px 2px #FC0;
}

.player.player-you {
    box-shadow: 0 0 8px 4px #000;
}

.player.player-you.player-turn {
    box-shadow: 0 0 8px 4px #FC0;
}

.player-isk {
    display: list-item;
    margin-left: 1em;
}

.player-influences {
    grid-column-end: span 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.player-influence {
    display: inline-flex;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
}

.player-influence.player-influence-hidden {
    border-color: darkgreen;
    background-color: rgb(189, 211, 212);
    color: black;
    min-height: min(7em, 16vw);
    min-width: min(6em, 14vw);
}

.player-influence.player-influence-revealed {
    border-color: lightgrey;
    background-color: #eee;
    color: black;
    opacity: 30%;
}

.player-influence::before {
    height: min(6em, 14vw);
    width: min(6em, 14vw);
}

.player-influence {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}

.player-influence[data-type='Captain']::before {
    content: url('images/closed-barbute.svg')
}

.player-influence[data-type='Contessa']::before {
    content: url('images/crowned-skull.svg')
}

.player-influence[data-type='Assassin']::before {
    content: url('images/cowled.svg')
}

.player-influence[data-type='Duke']::before {
    content: url('images/imperial-crown.svg')
}

.player-influence[data-type='Ambassador']::before {
    content: url('images/turban.svg')
}

.player-name {
    max-width: 20vw;
    max-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}